.nav {
  display: flex;
  align-items: center;
  margin-inline-end: auto;
  padding: 1rem 1.5rem;
  background-color: var(--pico-form-element-border-color);
  box-shadow: var(--pico-box-shadow);
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.titleLink {
  text-decoration: none;
  color: inherit;
}

.links {
  display: flex;
  gap: 1rem;
}

.menuMobileButton {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--pico-h1-color);
}

.menuMobileButton svg {
  color: var(--pico-h1-color);
}

@media screen and (width <= 800px) {
  .nav {
    padding: 0.5rem 1.5rem;
  }

  .menuMobileButton {
    display: flex;
  }

  .links {
    display: none;
  }

  .linksMobile {
    display: flex;
    flex-direction: column;
  }

  .linksMobile a {
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: var(--pico-border-radius);
  }

  .linksMobile a:hover {
    background-color: var(--pico-form-element-border-color);
  }
}
